/* This file is for your main application css. */

@import "./phoenix.css";
@import "../../deps/phoenix_live_view/assets/css/live_view.css";

body {
  background: black;
  color: white;
}

header {
  background: black;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15)
}

td,
th {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15)
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.timer {
  font-size: 4rem;
  padding: 4rem;
}

.fast {
  color: #4DEEEA;
  font-weight: bold;
}

.slow {
  color: #F000FF;
  font-weight: bold;

}

header section {
  flex-direction: column !important;
}



.button.button-outline:focus,
.button.button-outline:hover,
button.button-outline:focus,
button.button-outline:hover,
input[type='button'].button-outline:focus,
input[type='button'].button-outline:hover,
input[type='reset'].button-outline:focus,
input[type='reset'].button-outline:hover,
input[type='submit'].button-outline:focus,
input[type='submit'].button-outline:hover {
  border-color: #0069d9;
  border-color: #0069d9;

}